@import "reset";
@import "fonts";

body {
  font-family: 'Product Sans', Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.mount-node {
  flex: 1 0 80%;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  flex-direction: column;
  text-transform: uppercase;
  position: relative;

  h1 {
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    color: #EDF1F2;
    letter-spacing: -5px;
    transform: rotate(270deg);
    top: 100px;
    left: -45px;
  }

  .shuttle-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fd746c;
    color: #FFF;
    transform: rotate(-90deg);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: -1;
    text-shadow: 0 1px #ccc,
                 0 2px #b7b7b7,
                 0 3px #a3a3a3,
                 0 4px #8e8e8e,
                 0 5px #7a7a7a,
                 0 6px 1px rgba(0, 0, 0, 0.3);
 }

}

.quiz-window {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #fd746c, #ff9068);
  height: 100vh;
}

.button-style {
  color: #222;
  background-color: #EDF1F2;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  border: 2px solid #FFF;
  border-radius: 3px;
  padding: 1rem 3.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  outline: 0;
  cursor: pointer;

}

.quiz-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: 'Digital-7';
  font-weight: bold;
  font-size: 4rem;
  color: #90EE90;
  background-color: #000;
  border: 2px solid #90EE90;
  border-radius: 4px;
  width: 175px;
  height: 75px;
  text-shadow: 0 0 2px #00FF00,
               0 0 8px rgba(0, 255, 0, 0.5),
               0 0 10px rgba(0, 255, 0, 0.8);

  span {
    padding: 0 0.1rem;
  }


}

.quiz-box {
  background-color: #FFF;
  width: 80%;
  padding: 1rem;

  p {
    font-size: 1.5rem;
  }

  input {
    display: block;
    font-size: 1rem;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    margin: 1rem 0;
    outline: none;
  }

  button {
    float: right;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}
